@model TesteFitcard.DominioViewModel.Entidades.EstabelecimentoViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>EstabelecimentoViewModel</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="RazaoSocial" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="RazaoSocial" class="form-control" />
                <span asp-validation-for="RazaoSocial" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NomeFantasia" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NomeFantasia" class="form-control" />
                <span asp-validation-for="NomeFantasia" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Cnpj" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Cnpj" class="form-control" />
                <span asp-validation-for="Cnpj" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Endereco" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Endereco" class="form-control" />
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Numero" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Numero" class="form-control" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Bairro" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Bairro" class="form-control" />
                <span asp-validation-for="Bairro" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Complemento" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Complemento" class="form-control" />
                <span asp-validation-for="Complemento" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Cep" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Cep" class="form-control" />
                <span asp-validation-for="Cep" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Cidade" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Cidade" class="form-control" />
                <span asp-validation-for="Cidade" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Estado" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Ddd" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Ddd" class="form-control" />
                <span asp-validation-for="Ddd" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Telefone" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Telefone" class="form-control" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CategoriaId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CategoriaId" class="form-control" />
                <span asp-validation-for="CategoriaId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Id" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DataCadastro" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DataCadastro" class="form-control" />
                <span asp-validation-for="DataCadastro" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DataAtualizacao" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DataAtualizacao" class="form-control" />
                <span asp-validation-for="DataAtualizacao" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DataExclusao" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DataExclusao" class="form-control" />
                <span asp-validation-for="DataExclusao" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="Excluido" />
                    <label asp-for="Excluido"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="Ativo" />
                    <label asp-for="Ativo"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
