@{
    var categoria = Model;
    string nomeCategoria = (categoria != null) ? categoria.NomeCategoria : "";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalhes</title>
   @nomeCategoria
</head>
<body>
</body>
</html>
